@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.containerr{
    margin:0;
    padding: 0;
    background: url(../images/7.jpg);
    max-width: 100%;
    width: 100%;
    background-size: 100% 100%;
    
}

.navbar{
    width: 100%;
    background-color: rgba(22,112,214,0.15);
    height: 70px;
    
}
.navbar-nav .bosluk{
    margin:0px 10px;
}
.navbar-brand{
    font-size: 30px;
    color:white;
}
.container-fluid .navbar-brand:hover{
    color:black;
    
    border-radius:10px;
}

.container-fluid{
    font-size: 18px;
    margin-left: 5%;
    margin-right: 3%;
    font-family: sans-serif
}

.navbar-nav{
    margin-left: auto;  
}

.navbar-nav .nav-link{
    color: #f3f3f3;
    font-family: Roboto;
    font-size: 20px;
}


.navbar-nav li a:hover{
    background-color: rgba(255, 110, 0,0.6);
    border-radius:10px;
}

footer{
    margin: 0;
    padding:20px;
    height: 50px;
    width: 100%;
    position:absolute;
    
}
